@charset "UTF-8";
/* CSS Document */

.bzBanner{width:100%; min-width:980px; height:auto; overflow:hidden; position: relative; }
.bzBanner .content,.bzBanner .col,.bzBanner .col a{width:100%; height:100%; position: absolute; top:0px; left:0px; }
.bzBanner .btn{position: absolute; bottom:25px; right:50px; z-index:5; }
.bzBanner .btn i{display:block; float: left; width:15px; height:15px; padding:0 5px; border-radius:15px; margin-left:15px; background:white; overflow:hidden; opacity:0.4; filter:alpha(opacity=40); cursor:pointer; }
.bzBanner .btn i:hover{background:#9C0; }
.bzBanner .btn i.act{opacity:0.8; filter:alpha(opacity=80); background:#9C0; }
.bzBanner .pre,.bzBanner .next{display:inline-block; width:80px; height:132px; position:absolute; top:50%; margin-top:-50px; z-index:3; }
.bzBanner .pre{left:0px; background:url(../images/prev_02.png); }
.bzBanner .next{right:0px; background:url(../images/next_02.png); }
.bzBanner .pre:hover{ background:url(../images/prev_02.png); }
.bzBanner .next:hover{ background:url(../images/next_02.png); }
.bzBanner .col a{color:white; }
.bzBanner .col span{display:inline-block; width:326px; height:66px; position:absolute; z-index:3; top:50%; left:50%; margin-top:-20px; margin-left:-163px; border:1px #FFFFFF solid; text-align:center; font-size:42px; line-height:66px; }
.bzBanner .col span h3{font-weight:normal; font-size:28px; font-weight:normal; font-family:微软雅黑; padding:0px; margin:0px; padding-left:20px; line-height:70px; text-shadow:1px 1px rgba(0,0,0,.3); }
.bzBanner .col span p{display:inline-block; width:90%; line-height:25px; font-size: 14px; font-family:微软雅黑; margin:0px; padding:0px; padding-left:20px; text-shadow:1px 1px rgba(0,0,0,.3); }